# Google Apps Script Deployed Webhook URL for Live Walkthrough Booking
VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxP_7JM9DiCjbIMurFqbhVjFIgt8egv4OLgEe_FmhCGegoUC2ZF5g4lFYTlH3ew-yCnng/exec
